# deps
node_modules
.pnpm-store

# builds
dist
build
.next
.turbo
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# test / coverage
coverage
playwright-report
.playwright

# prisma
apps/api/prisma/migrations/dev.db*
